@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

.Body{
  /* height: 100%;
  width: 100%;
  max-width: 100%; */
  font-family: Poppins;
}

.Variable{
  font-family: Poppins;
}

.Header{
  width: 100%;
  
  height: 700px;  
  /* position: ; */
  background-image: url(assets/img/girl.jpeg);
  background-color: aquamarine;
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */

}

.Nav-Header {
  background-color: rgba(0, 0, 0, 0.041);
  z-index: 1;
  position: absolute;
  min-height: 77px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 21px;
  color: #333;
}